{% extends 'AppResto/herencia.html' %}

{% block botones %}
    <a class="btn btn-secondary" href="{% url 'inicio' %}">Inicio</a>
    <a class="navbar-brand" href="{% url 'reseñas' %}">Reseñas</a>
    <a class="navbar-brand" href="{% url 'crear_restaurante' %}">Agregar Restaurante</a>

{% endblock %}

{% block buscaryeditar %}
    <h1>Buscar Restaurante</h1>

    <form action="/AppResto/buscar_restaurante/" method="GET">
        <label> 
            Ingrese el nombre del Restaurante que busca: 
            <input type="text" list="opciones_restaurantes" name="pedido">
            <datalist id="opciones_restaurantes">
                {% for restaurante in nombres_restaurantes %}
                    <option value="{{ restaurante }}"></option>
                {% endfor %}
            </datalist>
            <input type="submit" value="Buscar">
        </label>
    </form>

    <!-- Botón de editar -->
    <a class="btn btn-secondary ms-2" href="{% url 'select_restaurante' %}">
        <strong><font size="4" color="red">EDITAR</font></strong>
    </a>
{% endblock %}

{% block muestra %}
    <div class="row restaurant-item">
        {% for x in resultado_busqueda %}
        <div class="col-md-4 col-centered my-3">
            <img src="{{ x.foto.url }}" alt="{{ x.nombre }}" class="img-fluid restaurant-image my-restaurant-image">
        </div>
            <!-- Texto a la derecha -->
            <div class="col-md-8 col-centered my-3 text-white restaurant-text"> 
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <p><strong><font size="7">{{ x.nombre }}</font></strong></p>
                            <p>Calificacion: {{ x.calificacion }}</p>
                            <p>Descripcion: {{ x.descripcion }}</p>
                            <p>Ubicacion: {{ x.ubicacion }}</p>
                            <p><a href="{{ x.instagram }}"><font color="white"><strong> Instagram</strong></font></a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
