{% extends 'AppResto/herencia.html' %}

{% block botones %}
<a class="btn btn-secondary" href="{% url 'inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'Restos' %}">Restaurantes</a>
<a class="navbar-brand" href="{% url 'crear_reseña' %}">Hacer Reseña</a>

{% endblock %}

{% block buscaryeditar %}
<h1 class="mb-5"><strong>Aca hay Reseñas!</strong></h1>
    
    <form action="/AppResto/buscar_reseña/" method="GET">

        Ingrese el nobre del Restaurante del que busca reseña: <input type="text" list="opciones_restaurantes" name="pedido" >

    
        <datalist id="opciones_restaurantes">
            {% for restaurante in nombres_restaurantes %}
            <option value="{{ restaurante }}"></option>
            {% endfor %}
        </datalist>

        <input type="submit" value="Buscar">

    </form>

    <!-- Botón de editar -->
    <a class="btn btn-secondary ms-2" href="{% url 'select_reseña' %}">
        <strong><font size="4" color="red">EDITAR</font></strong>
    </a>
</form>
{% endblock %}

{% block muestra %}
    <div class="row restaurant-item">
        {% for x in resultado_busqueda %}
        <div class="col-md-4 col-centered my-3">
            <img src="{{ x.foto.url }}" alt="{{ x.nombre }}" class="img-fluid restaurant-image my-restaurant-image">
        </div>
            <!-- Texto a la derecha -->
            <div class="col-md-8 col-centered my-3 text-white restaurant-text"> 
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <p><strong><font size= "5">Restaurante: {{x.restaurante}}</font size></strong></p>
                                <p>Reseña: {{x.reseña}}</p>
                                <p>puntuacion: {{x.puntuacion}}</p>
                               <!--  <p>ubicacion: {{x.ubicacion}}</p> -->
                                <p>Puntuacion: {{x.puntuacion}}</p>
                                <p>fecha de visita: {{x.fecha_de_visita}}</p>
                                <p>fecha de reseña: {{x.fecha_de_reseña}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}