{% extends 'AppResto/herencia.html' %}
{% load static %}

{% block muestra %}
<div class="auto col-centered">
    <div class="text-center text-white">
        {% if user.is_authenticated %}
        <h1 class="mb-5"><p>Hola {{ request.user.username }}.</p></h1> 

{% endif %}
<h1 class="mb-5"><p>Esta es la pagina de inicio</p></h1>
    </div></div>
{% endblock %}

{% block botones %}

<a class="navbar-brand" href="{% url 'Restos' %}">Restaurantes</a>
<a class="navbar-brand" href="{% url 'reseñas' %}">Reseñas</a>

{% endblock %}

{%block sobremi%}



 <!-- Image Showcases-->
 <section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('media\AppResto\img\bg-showcase-1_RlMUFXd.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Nuestro Sitio!</h2>
                <p class="lead mb-0">En esta pagina podras ver los distintos restaurantes que agruegan las personas, ver el instagram del lugar y ver las opiniones de otros usuarios sobre este!</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('media\AppResto\img\bg-showcase-1_01vEux9.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Porque usar este sitio?</h2>
                <p class="lead mb-0">En este sitio al crearte un usuario tu puedes agregar restaurantes, y cargar reseñas sobre estos y sobre los generados por otros usuarios. Te equivocaste en una reseña? Puedes modificarla!!</p>
            </div>
        </div>


{%endblock%}