{% extends 'AppResto/padre.html' %}
{% load static %}

{% block tituloGrande %}
<h1 class="mb-5">Esta es la pagina de inicio lanchaaaaa!</h1>
{% endblock %}

{% block botones %}

<a class="navbar-brand" href="{% url 'Restos' %}">Restaurantes</a>
<a class="navbar-brand" href="{% url 'reseñas' %}">Reseñas</a>
<!-- poner que si inicie sesion aparezca mi nombre-->
<a class="btn btn-primary" href="{% url 'usuario' %}">Mi Nombre</a>
<a class="btn btn-primary" href="{% url 'iniciar_sesion' %}">Iniciar Sesion</a>
{% endblock %}