{% extends 'AppResto/herencia.html' %}
{% load static %}

{% block muestra %}
<div class="auto col-centered">
    <div class="text-center text-white">
        {% if user.is_authenticated %}
        <h1 class="mb-5"><p>Hola {{ request.user.username }}.</p></h1> 

{% endif %}
<h1 class="mb-5"><p>Esta es la pagina de inicio</p></h1>
    </div></div>
{% endblock %}

{% block botones %}

<a class="navbar-brand" href="{% url 'Restos' %}">Restaurantes</a>
<a class="navbar-brand" href="{% url 'reseñas' %}">Reseñas</a>

{% endblock %}