{% extends 'AppResto/padre.html' %}
{% load static %}

{% block tituloGrande %}
<h1 class="mb-5">aca hay reseñas!</h1>
{% endblock %}

{% block botones %}

<a class="btn btn-secondary" href="{% url 'inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'Restos' %}">Restaurantes</a>
<a class="navbar-brand" href="{% url 'crear_reseña' %}">Hacer Reseña</a>
<a class="btn btn-primary" href="{% url 'usuario' %}">Mi Nombre</a>
<a class="btn btn-primary" href="{% url 'iniciar_sesion' %}">Iniciar Sesion</a>
<!-- poner que si inicie sesion aparezca mi nombre-->

{% endblock %}