
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
   
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppResto/css/styles.css' %}"rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                {% block botones %}
                <a class="btn btn-secondary" href="{% url 'inicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'Restos' %}">Restaurantes</a>
                <a class="navbar-brand" href="{% url 'crear_reseña' %}">Hacer Reseña</a>
                <a class="btn btn-primary" href="{% url 'usuario' %}">Mi Nombre</a>
                <a class="btn btn-primary" href="{% url 'iniciar_sesion' %}">Iniciar Sesion</a>
                {% endblock %}
                </div>
               
            </div>
        </nav> 

        {% block buscaryeditar %}
        <h1 class="mb-5">Aca hay Reseñas!
           <p> <div class="text-rg-end">
                <a class="btn btn-secondary" href="{% url 'buscar_reseña' %}"><strong><font size= "4">Buscar</font size></strong></a>
                
                     <div class="text-lg-end">
                <a class="btn btn-secondary" href="{% url 'select_reseña' %}"><strong><font size= "4" color="red">EDITAR</font size></strong></a>
            </div>
        </div>
        </p>
        </h1>
        {% endblock %}
                
                    <header class="masthead">
                        <div class="container position-relative">
                            <div class="row justify-content-center">
                                <div class="col-xl-6">
                                    <div class="text-center text-white">
                    {% block muestra %}
        {% for x in reseñas %}
            <p><strong><font size= "5">Restaurante: {{x.restaurante}}</font size></strong></p>
            <p>Reseña: {{x.reseña}}</p>
            <p>puntuacion: {{x.puntuacion}}</p>
            <p>ubicacion: {{x.ubicacion}}</p>
            <p>Puntuacion: {{x.puntuacion}}</p>
            <p>fecha de visita: {{x.fecha_de_visita}}</p>
            <p>fecha de reseña: {{x.fecha_de_reseña}}</p>
            <p> </p>
            <p> </p>
            <p> </p>
        {% endfor %}

         </div>
         </div>
         {% endblock %}
        </div>
    </div>
</div>
</div>
</header>
        </boddy>
        </html>


