{% extends 'AppResto/reseñas.html' %}
{% load static %}
>
                {% block botones %}
                <a class="btn btn-secondary" href="{% url 'inicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'reseñas' %}">Reseñas</a>
                <a class="navbar-brand" href="{% url 'crear_restaurante' %}">Agregar Restaurante</a>
                <!-- poner que si inicie sesion aparezca mi nombre-->
                <a class="btn btn-primary" href="{% url 'usuario' %}">Mi Nombre</a>
                <a class="btn btn-primary" href="{% url 'iniciar_sesion' %}">Iniciar Sesion</a>
                {% endblock %}

        {% block buscaryeditar %}
    <h1 class="mb-5">Aca hay Restaurantes!
        <p> <div class="text-rg-end">
             <a class="btn btn-secondary" href="{% url 'buscar_restaurante' %}"><strong><font size= "4">Buscar</font size></strong></a>
             
                  <div class="text-lg-end">
             <a class="btn btn-secondary" href="{% url 'select_restaurante' %}"><strong><font size= "4" color="red">EDITAR</font size></strong></a>
         </div>
     </div>
     </p>
     </h1>
     {% endblock %}

                {% block muestra %}
            {% for x in restaurantes %}
            <p>
            <p><strong><font size= "7">{{x.nombre}}</font size></strong></p>
            <p>Reseña: {{x.reseñas}}</p>
            <p>Descripcion: {{x.descripcion}}</p>
            <p>Ubicacion: {{x.ubicacion}}</p>
            <p><a href="{{x.instagram}}"><font color="white"><strong> Instagram</strong></font></a></p>
            </p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}