<!-- select_reseña.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <a class="bootstrap-icons" href="{% url 'reseñas' %}">Salir</a>
</head>
<body>
    {% for reseña in reseñas %}
        <p><strong>Hecha sobre Restaurante:</strong> {{ reseña.restaurante }}</p> 
            <p><strong>Reseña:</strong> {{ reseña.reseña }}</p> 
            <p><strong>Fecha de reseña:</strong> {{ reseña.fecha_de_reseña }}</p> 
        <form action="{% url 'update_reseña' reseña.id %}" method="get">
            <button type="submit">Editar</button>
        </form>
        <form action="{% url 'delete_reseña' reseña.id %}" method="post">
            {% csrf_token %}
            <button type="submit"><font color="red">Borrar</font></button>
        </form>
    
    {% endfor %}
</body>
</html>
