<!-- select_delete_reseña.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <a class="bootstrap-icons" href="{% url 'reseñas' %}">Salir</a>
</head>
<body>
    {% for reseña in reseñas %}
        <li>Restaurante:{{ reseña.restaurante }} Reseña: {{ reseña.reseña }} fecha de reseña: {{ reseña.fecha_de_reseña }} </li>
        <form action="{% url 'update_reseña' reseña.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Editar</button>
        </form>
    {% endfor %}
</body>
</html>
